.column {
    float: left;
    width: 33%;
}

.row: after {
    content: "";
    display: table;
    clear: both;
}

#tmp {
    color: red;
}

#dewPoint {
    color: green;
}

#humidity {
    color: blue;
}

#plot {
    width: 650px;
}
